body{

font-family:Arial;
background:linear-gradient(90deg,#141e30,#243b55);
color:white;
text-align:center;

}

.section{

background:#1f4068;
padding:20px;
margin:20px;
border-radius:10px;

}

input,select{

padding:10px;
margin:5px;
border-radius:6px;
border:none;

}

button{

padding:10px 20px;
background:#00c6ff;
border:none;
border-radius:6px;
cursor:pointer;

}

.center{

display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.result-box{

background:#1f4068;
padding:60px;
border-radius:20px;
animation:pop 1s ease;

}

@keyframes pop{

0%{transform:scale(0)}
100%{transform:scale(1)}

}