body {
    font-family: "Times New Roman";
    background: #f1f5f9;
    padding: 20px;
}

h1 {
    color: #1e3a8a;
}

.tabs button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.tab {
    margin-top: 20px;
}

.hidden {
    display: none;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ccc;
    padding: 10px;
}

button {
    background: #22c55e;
    color: white;
    border: none;
    padding: 8px;
}

/* DIAGRAM */
.diagram {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.node {
    background: #3b82f6;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.start {
    background: green;
}

.arrow {
    margin: 0 10px;
    font-size: 20px;
}