body {
    background: #0f172a;
    color: white;
    font-family: "Times New Roman";
    padding: 20px;
}

input, select {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 15px;
    background: cyan;
    border: none;
    cursor: pointer;
}