<!DOCTYPE html>
<html>

<head>

<title>Workflow Result</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="result">

<h1>Workflow Status</h1>

<div id="status"></div>

<button onclick="home()">Back</button>

</div>

<script>

function home(){

window.location="/"

}

let params = new URLSearchParams(window.location.search)

let status = params.get("status")

let box=document.getElementById("status")

if(status=="approved"){

box.innerHTML="✅ CEO Approved 🎉"

}

else{

box.innerHTML="⏳ Manager Approval Required"

}

</script>

</body>

</html>