<!DOCTYPE html>
<html>
<head>
<title>Workflow Engine</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>Workflow Automation Engine</h1>

<a href="/history"><button>View History</button></a>

<h2>Create Workflow</h2>
<input id="wf_name" placeholder="Workflow Name">
<button onclick="createWorkflow()">Create</button>

<h2>Add Step</h2>
<input id="wf_id" placeholder="Workflow ID">
<input id="step_name" placeholder="Step Name">

<select id="step_type">
<option value="approval">Approval</option>
<option value="task">Task</option>
<option value="notification">Notification</option>
</select>

<input id="order" placeholder="Order">
<button onclick="addStep()">Add Step</button>

<h2>Add Rule</h2>
<input id="step_id" placeholder="Step ID">
<input id="condition" placeholder="amount > 1000">
<input id="next_step" placeholder="Next Step ID">
<input id="priority" placeholder="Priority">
<button onclick="addRule()">Add Rule</button>

<h2>Execute Workflow</h2>
<input id="exec_wf" placeholder="Workflow ID">
<input id="amount" placeholder="Amount">
<button onclick="runWorkflow()">Run</button>

<script src="/static/script.js"></script>

</body>
</html>