<!DOCTYPE html>
<html>

<head>

<title>Workflow Automation Engine</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<h1>Workflow Automation Engine</h1>

<div class="box">

<h2>Create Workflow</h2>

<input id="workflowName" placeholder="Workflow Name">

<button onclick="createWorkflow()">Create</button>

</div>


<div class="box">

<h2>Add Step</h2>

<select id="workflowSelect">
{% for id,w in workflows.items() %}
<option value="{{id}}">{{w.name}}</option>
{% endfor %}
</select>

<input id="stepName" placeholder="Step Name">

<input id="stepType" placeholder="approval or task">

<input id="stepOrder" placeholder="Order">

<button onclick="createStep()">Add Step</button>

</div>


<div class="box">

<h2>Add Rule</h2>

<select id="ruleStepId">
{% for id,s in steps.items() %}
<option value="{{id}}">{{s.name}}</option>
{% endfor %}
</select>

<input id="condition" placeholder="amount > 1000">

<select id="nextStep">
{% for id,s in steps.items() %}
<option value="{{id}}">{{s.name}}</option>
{% endfor %}
</select>

<input id="priority" placeholder="Priority">

<button onclick="createRule()">Add Rule</button>

</div>


<div class="box">

<h2>Execute Workflow</h2>

<select id="execWorkflow">
{% for id,w in workflows.items() %}
<option value="{{id}}">{{w.name}}</option>
{% endfor %}
</select>

<input id="amount" placeholder="Amount">

<button onclick="runWorkflow()">Run</button>

</div>


<div class="box">

<h2>Execution Logs</h2>

<pre id="logs"></pre>

</div>


<h2>Execution History</h2>

<table>

<tr>
<th>Workflow</th>
<th>Input</th>
<th>Path</th>
</tr>

{% for h in history %}

<tr>
<td>{{h.workflow}}</td>
<td>{{h.input}}</td>
<td>{{h.path}}</td>
</tr>

{% endfor %}

</table>


<script src="/static/script.js"></script>

</body>

</html>